.modal{ 
    padding: 20px;
    min-height: 300px;
    min-width: 300px;
    border: 1px solid grey;
    margin: auto;
    background-color: white; 
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1.5em;
    z-index: 100; 
    header{
        margin: 20px 0;
    }
    >button{
        position: absolute;
        top: 10px;
        right: 10px;
    }

}


.fullScreenModal{
    box-sizing: border-box;
    position: fixed;
    z-index: 100;    
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    background-color: #f6f7fb;
    overflow: auto;
    overflow-x: hidden;
    padding: 2rem;
    >button{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    @media screen and (max-width:480px) {
        padding: 1em;
    }
}