body {
  text-align: center;
  background: #f6f7fb;
} 


.button{
  display: inline-block;
  font: inherit;
  padding:0.8rem 1.5rem; 
  border-radius: 4px;
  outline: none;
  border:none;
  color:white;
  width: 100%;
  margin: 10px;
  background-color: #3ccfcf;
}

.button:focus {
  outline: none;
}

.button:hover{
  background-color: #28a7a7;
  cursor: pointer;
}
// .button:active, .button:focus, .button.active {
//   background: blue
// }
.button.disabled{
  background-color: lightblue;
} 
.button.correct{
  background-color: green;
}
.button.wrong{
  background-color: red;
}
.button.sm{
  width:100px;
}
.button.md{
  width:150px;
}

.active{
  border-bottom: 4px solid red;
}
.pending{
  color:yellow
}
.transitioning{
  color:green
}

.buttonIcon, .buttonText{
  background-color: transparent;
  border:none;
  margin: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.buttonText{
  font-size: 1em;
  text-decoration: underline;
}
.buttonText:hover{
  color:orange
}

.buttonIconActive{
  color: orange; 
}

a{
  color: inherit;
  background-color: inherit;
  padding:0;
  margin:0;
  text-decoration: none; 
} 


main{
  max-width: 1000px;
  margin: auto; 
}

.inputDefault{ 
  textarea{
    width:95%;
    min-height:5px;
    max-height:100px; 
    overflow: visible;
    border-color: transparent;
    border-bottom: 2px solid grey;
    outline: none;
    resize: none;
  } 
}

/* .explorePageWrapper{
  height:700px;
  overflow: auto;
} */

.layout{
  height: calc(100vh - 3em);
  overflow: auto; 
}

.visible{ 
  display: block;  
}

.hidden{  
  display: none;
}
 
