.task-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;

    &-sidebar{
        text-align: left;
        width: 12rem; 
        background-color: white;
        padding:20px;
        &-progressBar{
            margin-bottom: 1.2em;
        }
        &-options{
            text-align: center;
        }
        @media screen and (max-width: 480px) {
            margin: auto;
        }
    }
    &-main{
        box-sizing: border-box;
        width: calc(100% - 12rem); 
        padding: 2rem 1rem;
        background-color: white;

        .question-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-height: 100px;
        }
        .answer-container{
            display: flex;
            flex-direction: row; 
            justify-content:flex-start;
            textarea{  
                border:none; 
                height:2rem;
                resize: none;
                width: 100%;
                border-bottom: 2px solid grey;
                background-color: transparent;
                outline: none;
                padding: 5px;
            } 
        }
        .answer-button{
            width: 200px;
            margin: auto;
        }

        .result-container{
            .results-section{
                >div{
                    border-bottom: 1px solid rgb(235, 235, 235);
                    margin-bottom: 1.5em;
                }
            }
            .correct-answer{
                color:green;
            }
            .wrong-answer{
                color:red;
            }
        }
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
        &-main{
            width: 100%;
        }
    }
}