
/* This container is needed to position the front and back side */
  .flip-card-inner { 
    display: flex;
    align-items:end;
    justify-content:left;
    position: relative;
    width: 80%;
    min-height: 200px; 
    transition: transform 0.4s;
    transform-style: preserve-3d;
    margin:auto;
    :hover{
      cursor: pointer;
    }
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-active .flip-card-inner { 
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    -webkit-backface-visibility: hidden; /* Safari */
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  .flash-card-buttons{
    display: flex;
    min-width: 200px;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 1em;
    >div{
      min-width: 60px; 
      font-size: 1.2em;
    } 
  }

  .swipeCard-enter{
    opacity: 0;
  }
  .swipeCard-enter-active{
    opacity: 1;
    transition: opacity 500ms;
  } 

  .swipeCard-exit{
    opacity: 1;
  }
  .swipeCard-exit-active{
    opacity: 0;
    transition: opacity 500ms;
  }

  .flash-card-controllers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px; 
  }